<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FlightPHP Twig Template{% endblock %}</title>

    <link rel="stylesheet" href="/static/dist/css/app.min.css"/>
</head>
<body>
<h1>FlightPHP Twig base</h1>
    {% block content %}{% endblock %}

    <script src="/static/dist/js/libs.js"></script>
    <script src="/static/dist/js/app.js"></script>
</body>
</html>