<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flight Twig Template{% endblock %}</title>
</head>
<body>
<h1>Base ahahah</h1>
    {% block content %}{% endblock %}
</body>
</html>